
*{ /*tüm sayfaya hitaben margin ve paddingler sıfırlandı*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none; /*sayfadaki linklerin altı çizili olmayacak*/
    color: #fff;

}
html{ /* google fonttan alınan font family*/
    font-family: 'Azeret Mono', monospace;
}
/* navbar section */
#navbar{
    color: #fff; /*navbardaki yazılar beyaz olur*/
    display: flex; /*yazılar yan yana gelecek*/
    justify-content: space-between; /*beyza alıcı yazısıyla li etiketlerini birbirinden ayrıdı*/
    align-items: center; /* yazıyı yukarıdan ortaladı */
    padding: 0 0.75rem;
    height: 70px;
}
#navbar ul{
    list-style-type:none; /*listedekilerin başındaki noktalar ortadan kalktı*/ 
    display: flex; /* etiketlerin yan yana yazılmasını sağladı*/ 
    align-items: center;

}
#navbar ul li a{
    padding: 0.5rem; /*navbarın  etiketlerin arasını açtık */
}
#navbar ul li a:hover{ /*linkin üzerine geldiğinde yapılacak olanlar*/
    background: #336ea2; /*linkin üzerine geldiğinde bu renk olur*/
    border-radius: 5px; /*linkin üzerine geldiğinde köşelerini ovalleştirir*/
}

/* Anasayfa Section */
#anasayfa{
    display: flex;
    flex-direction: column;
    justify-content: center; /*column olduğu için dikeyde konumlandırma yapar*/
    align-items:center; /*column olduğu için yatayda konumlandırma yapar*/
    padding:  2rem;
    border-bottom: 5px solid grey; /*altına gri çizgi çeker*/ 
}

#anasayfa img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    
}

#anasayfa .isim{
    text-align: center;
}

#anasayfa .isim h2{
    margin-bottom: 0.75rem;
}

#anasayfa .isim p{
    opacity: 0.6;
    font-style: italic;
}

/* genel bilgiler*/

#genelbilgiler{
    color: #fff;
    padding: 1rem;

}
#genelbilgiler .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#genelbilgiler .items .item{
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}
#genelbilgiler .items .item ul li{
    list-style-type:none; /* genel bilgilerdeki seminerlerin yanındaki noktayı yok etti*/
}



#akademik{
    color: #333;
    padding: 1rem;
    
}
.okullar{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}

.okullar .okul{
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;

}

.okullar .okul .okul-foto{
    margin-right: 1rem;
    
    
}


.okullar .okul .okul-bilgi .bolum{
    letter-spacing: 1.2px;
    font-weight: 800;
    margin-bottom: 0.75rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

.okullar .okul .okul-bilgi .aciklama{
    display: flex;
    letter-spacing: 1.2px;
    margin-bottom: 0.50rem;
    margin-top: 0.75rem;
    margin-left: 1rem;
    opacity: 0.8;
}

.okullar .okul .okul-bilgi .yetkinlik{
    font-size: 1rem;
    letter-spacing: 1.2px;
    margin-bottom: 0.50rem;
    margin-top: 0.75rem;
    margin-left: 1rem;
}



/*iletişim*/

#iletisim{
    color: #fff;
    padding: 1rem;

}

#iletisim .iletisim-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#iletisim .iletisim-form ul{
    list-style-type: none; /*listenin başındaki noktalar gitti iconların başındaki*/
    display: flex; /*yan yana getirdik*/ 
    margin-top: 1rem;
    align-self: center;
}

#iletisim .iletisim-form ul li a{
    padding: 1rem;
    font-size: 2rem;
}

#iletisim .iletisim-form ul li a:hover{
    opacity: 0.4;/* iconların üzerine geldiğinde opaklığı ayarlar*/
}