/* text */

.text-center{
    text-align: center;
}

.kucuk-baslik{
    font-size: 1..25rem;
}

.orta-baslik{
    font-size: 1.5rem;
}

.buyuk-baslik{
    font-size: 1.75;
}

/* color */


.bg-koyu-mavi{
    background: #062e51;
}
.bg-acik-mavi{
    background: #336ea2;
}
.color{
    color:#062e51;
}
/* buttons */
.btn{
    margin-top: 1.25rem;
    padding: 0.8rem 3rem;
    border-radius: 7px;
    letter-spacing: 0.5px;
}
.btn-primary{
    background: #336ea2;
}

.btn-primary:hover{
    color: #336ea2;
    background: #fff;
    border: 0.5px solid #336ea2;
}
.btn-koyu{
    background: #333
}

.btn-koyu:hover{
    color:#333;
    background: #fff;
    border: 0.5px solid #333;
}

.btn-gonder{
    width: 100%;
    text-align: center;
}
.btn-gonder:hover{
    color: #336ea2;
    background:tomato;
    border: 0.5px solid #336ea2;
}

/* Forms */
.form-group{
    padding: 0.25rem 0;

}

.form-group label{
    display: block; /*labeller inline olduğu için değiştirilir*/
} /*bu sayede inputların olduğu kısım allt alta geçerek düzenli hal alır*/

.form-control{
    width: 100%; /*inputlara genişlik verdik*/
    padding: 0.4rem;
    font-size: 1rem;
    resize: none; /*textarea kısmını siz tutup istediği kadar büyütebilirsiz.
    bunun önüne geçmek için bu özellik kullanılır. yine yazı yazıldıkça alan büyüyecektir elle büyümez.*/
    border-radius: 5px;

}


/* Container */

.container{
    max-width: 1100px;  /*1100 px geçtiğinde container ortalanacak*/
    margin: 0 auto;     /* eğer böyle yaparsak akademik geçmişin olduğu container ortalanacak*/
}

